.form-item {
  --background: transparent;
  margin-bottom: 10px;
  --border-color: var(--ion-color-light-shade);
}
ion-note {
  font-size: 12px;
  margin-left: 16px;
}
.action-buttons {
  margin-top: 32px;
}
